SimpleImageRecognitionApi/web-api/venv
SimpleApi/simple-restful-api/venv
SentencesApi/web-api/venv
BankingTransferApi/web-api/venv
TextSimilarityApi/web-api/venv
SimpleImageRecognitionApi/web-api/inception-2015-12-05.tgz